<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core" />
    </sectionGroup>
    <sectionGroup name ="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="QuartzSchedulerFactory" type="Quartz.Impl.StdSchedulerFactory, Quartz" />
      <object name="SystemLogger" type="RukisIntegrationTaskhandlerExtension.SystemLogger, RukisIntegrationTaskhandlerExtension" />
      <object name="TaskLogger" type="RukisIntegrationTaskhandlerExtension.TaskLogger, RukisIntegrationTaskhandlerExtension" />
      <object name="JobScheduleFactory" type="RukisIntegrationTaskhandlerExtension.JobScheduleFactory, RukisIntegrationTaskhandlerExtension" />
      <object name="JobRunnerFactory" type="RukisIntegrationTaskhandlerExtension.JobRunnerFactory, RukisIntegrationTaskhandlerExtension" />
      <object name="TaskFactory" type="RukisIntegrationTaskhandlerExtension.TaskFactory, RukisIntegrationTaskhandlerExtension" />
      <object name="VariableFactory" type="RukisIntegrationTaskhandlerExtension.VariableFactory, RukisIntegrationTaskhandlerExtension" />
      <object name="JobTriggerFactory" type="RukisIntegrationTaskhandlerExtension.JobTriggerFactory, RukisIntegrationTaskhandlerExtension" />
      <object name="TaskTemplateWriter" type="RukisIntegrationTaskhandlerExtension.TaskTemplateWriter, RukisIntegrationTaskhandlerExtension" />
      <object name="VariablePersister" type="RukisIntegrationTaskhandlerExtension.VariablePersister, RukisIntegrationTaskhandlerExtension" />
    </objects>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="TaskRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Task.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>

    <appender name="SystemRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\System.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
    </root>

    <logger name="TaskLogger">
      <level value="DEBUG" />
      <appender-ref ref="TaskRollingFileAppender" />
    </logger>

    <logger name="SystemLogger">
      <level value="DEBUG" />
      <appender-ref ref="SystemRollingFileAppender" />
    </logger>

  </log4net>

</configuration>